{% extends "base.html" %}
{% set title = "Sponsor - Scheduled Points" %}
{% block content %}

<div class="card">
  <h3>Schedule Point Events</h3>
  <p>Schedule points to be awarded to drivers at a future date and time.</p>

  {% if scheduled_events|length == 0 %}
    <p><em>No scheduled events.</em></p>
  {% else %}
    <table class ="table">
      <thead>
        <tr>
            <th>Driver</th>
            <th>Email</th>
            <th>Event</th>
            <th>Points</th>
            <th>Reason</th>
            <th>Scheduled Time</th>
            <th>Status</th>
            
        </tr>
      </thead>
      <tbody>
        {% for e in scheduled_events %}
          <tr>
            <td>{{ e.User_FName }} {{ e.User_LName }}</td>
            <td>{{ e.User_Email }}</td>
            <td>{{ e.Event_Name }}</td>
            <td>{{ e.points }}</td>
            <td>{{ e.reason }}</td>
            <td>{{ e.Scheduled_For }}</td>
            <td>{{ e.Scheduled_Status }}</td>

            <td>
                {% if e.status == 'Scheduled' %}
                    <form method="post" action="{{ url_for('main.cancel_scheduled_event') }}" style="margin:0;">
                        <input type="hidden" name="scheduled_event_id" value="{{ e.Scheduled_Event_ID }}">
                        <button type="submit" class="btn btn-danger btn-sm" 
                        onclick="return confirm('Are you sure you want to cancel this scheduled event?')"
                        >Cancel
                        </button>
                    </form>
                {%endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}